.home {
  & .section {
    min-height: calc(100vh - 45px - 3vh);
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: 5vh auto;
    padding: 30px 5vw;
    box-shadow: $shadowBox;
    border-radius: 20px;

    & h2 {
      color: $accentColor;
      width: 100%;
      text-align: center;
      margin: 3vh 0;
    }
  }
}
